<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
<div id="footer">
    <div class="container">
        <p>
            <a title="Support" href="/Support" style="color: white;">Support</a>&nbsp;&nbsp;&nbsp;
            <a title="Help topics" href="/Help" style="color: white;">Help topics</a>&nbsp;&nbsp;&nbsp;
            <a title="Pricing" href="/Pricing" style="color: white;">Pricing</a>&nbsp;&nbsp;&nbsp;
            <a title="Privacy policy" href="/Privacy" style="color: white;">Privacy policy</a>&nbsp;&nbsp;&nbsp;
            <a title="Terms of use" href="/Terms" style="color: white;">Terms of use</a>&nbsp;&nbsp;&nbsp;
            <a title="Contact us" href="/Contact" style="color: white;">Contact us</a> <span class="pull-right">
            &copy; 2013 <a target="_blank" title="Winito Inc" style="color: white;">Winito Inc</a></span>
            <span style="position: relative; top: -2px;" class="pull-right"></span>
        </p>
    </div>
</div>
</wicket:panel>
</body>
</html>