<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

<div class="alert alert-info">
    Group link <i class="icon-external-link"></i>
    <strong><a wicket:id="groupPublicLink" href="#" class="text-contrast">link</a></strong>
    - this is your group link, send this link to people who you want to send messages. They will be presented with an easy signup form and will automatically join this group.
</div>
</wicket:panel>
</body>
</html>