<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
<nav class='navbar navbar-default'>
    <a class='navbar-brand' href='/'>
        <img height="21" class="logo" alt="Group Notifier" src="assets/images/logo.png"/>
        <img height="21" class="logo-xs" alt="Group Notifier" src="assets/images/logo_xs.png"/>
    </a>
    <ul class="nav navbar-nav">
        <li>
            <a href="/Login">Login</a>
        </li>
        <li>
            <a href="/SignUp">Sign Up</a>
        </li>
    </ul>
</nav>
</wicket:panel>
</body>
</html>