<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
<div class='row pricing-tables'>
    <div class='col-sm-6 col-md-3'>
        <div class='pricing-table'>
            <div class='header'>PREMIUM</div>
            <div class='price orange-background'>
                <span>$20</span>
            </div>
            <ul class='list-unstyled features'>
                <li>
                    <strong>Pricing is per year</strong>
                </li>
                <li>
                    <strong>500</strong>
                    Group Members
                </li>
                <li>
                    <strong>Unlimited</strong>
                    Messages
                </li>
                <li>
                    <strong>Price per group</strong>
                    $20 <strong>per year</strong>
                </li>
            </ul>
            <div class='footer'>
                <span wicket:id="payLink"></span>
            </div>
        </div>
    </div>
</div>
</wicket:panel>
</body>
</html>