<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
<div class='col-xs-4 col-sm-2'>
    <div class='box-quick-link orange-background'>
        <a href='/PaymentOptions' title="Subscription">
            <div class='header'>
                <div class='icon-money'></div>
            </div>
            <div class='content'>Subscription<br/> &nbsp;</div>
        </a>
    </div>
</div>
</wicket:panel>
</body>
</html>